a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
html, body{
  height: 100%;
  font-family: "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
header {
   width:100%;
   background-color:#26d0c9;
   padding-top:20px;
   padding-bottom: 10px;
   left:10px;
   font-size: 30px;
   border-bottom:1px solid #000;
   color:#fff;
   margin: auto;
 }
 .check-message{
   text-align:center;
   font-size:40px;
   padding-top:40px;
   padding-bottom:none;
 }
 .form-content{
   padding:40px;
   margin:40px auto;
   margin-top:none;
   width:80%;
   background-color:#f5f5f5;
   font-size: 30px;
 }
 .form-content p{
   padding-top:25px;
   padding-bottom:7px;
 }
 .form-contentb input{
   padding-top:5px;
 }
 .form-content #sent{
   position: absolute;
   font-size: 17px;
   background-color:#000;
   color: #fff;
   border-style: none;
   margin-top:5px;
 }
